body{
  margin: 0;
  font-family: "Kantumruy Pro", sans-serif;
  font-style: normal;
}

h1 {
  margin: 0%;
}


.header{
  background-color: #031D45;
  padding: 11vw;
  
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.header .photo{
  border-radius: 45%;
  margin-right: 50px;
  width: 34vh;
  height:  34vh;
}
.header h1{
  font-weight: 500;
  font-size: 8vh;
}

.header h2{
  font-weight: 300;
  font-size: 3.5vh;
}

.header .socialmedia{
  display: flex;
}

.header .socialmedia img{
  width: 8vh;
  margin-right: 2vw; 
  border-radius: 20%;
}

.header .socialmedia a:hover{
  margin-top: -1vh;
  padding-bottom: 1vh;
  transition-duration: 100ms;
  
}

.header .socialmedia a{
  transition-duration: 100ms;
  text-decoration: none;
}

.aboutme{
  background-color: #011627;
  display: flex;
  flex-wrap: wrap;
  padding: 4vw;
  justify-content: center;

}

.aboutme h1, .aptitudes h1, .projects h1, .career h1{
  font-weight: 400;
  font-size: 6vh;
  color: white;
}

.aboutme h2, .aptitudes h2, .projects h2, .career h2{
  font-weight: 300;
  font-size: 3.7vh;
  color: white;
}

.aboutme img {
  width: 500px;
  padding-left: 4vw;
  align-self: flex-end;
}

.aptitudes {
  background: rgb(111,115,210);
  background: linear-gradient(0deg, rgba(111,115,210,1) 64%, rgba(1,22,39,1) 100%);
  padding: 4vw;
  color: white;
}

.projects {
  background-color: #031D45;
  padding: 4vw;
  color: white;
}

.projects h3{
  font-weight: 200;
  font-size: 2.5vh;
  color: white;
}

.career{
  background-color: #011627;
  padding: 4vw;
  color:white;
}

@media only screen and (max-width: 1230px){
  .aboutme img {
    width: 90vw;
    padding-right: 5vw;
  }
}