@font-face {
    font-family: Minecrafter;
    src: url("fonts/Minecrafter.Reg.ttf");
}
body{
    margin: 0%;
}
header {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0.2%;
    background-color: #00DDFD;
}
h1{
    font-family: "Minecrafter";
}
a:link, a:visited{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 2px 2px 4px black;
}
