@font-face {
    font-family: Minecrafter;
    src: url("fonts/Minecrafter.Reg.ttf");
}
@font-face {
  font-family: MinecrafterAlt;
  src: url("fonts/Minecrafter.Alt.ttf");
}
body{
    margin: 0%;
}
header {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0.2%;
    background-color: #00DDFD;
}
h1{
    font-family: "Minecrafter";
}
a:link, a:visited{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 2px 2px 4px black;
}
.sidebar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.7); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
    background-color: #00DDFD;
    transition: 0.3s;
  }

  .openbtn:hover {
    color: #818181;
  }
  
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .notopac{
    opacity: 1;
  }

  .header-nav {
    font-family: "MinecrafterAlt";
    margin-left: 2%;
    color: white;
    -webkit-text-stroke: 0.4px black;
    text-shadow: 2px 2px 4px black;
  }