body{
    margin:0%;
    background-color: rgb(214, 214, 214);
} 
.header {
    background-color: #00c3e9;
}
.iconDetails {
    float:left;
    margin: 5px; 
 }
.logoText {
    padding: 1px;
    margin-left: 5%;
    font-family: "Minecrafter";
}
@font-face {
    font-family: "Minecrafter";
    src: url("fonts/Minecrafter.Reg.ttf");
}
@font-face {
    font-family: "MinecrafterALT";
    src: url("fonts/Minecrafter.Alt.ttf");
}
@font-face {
    font-family: "Minecraftia";
    src: url("fonts/Minecraftia-Regular.ttf");
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: "MinecrafterALT";
}
.navbar a {
    font-size: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.match-1 {
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    margin-right: 1250px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
  }
  .match-2 {
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    margin-right: 1250px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
  }

.right {
    float: right;
}

.destacado {
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 700px;
}

.destacado .image {
    margin-left: 20px;
    padding-bottom: 2px;
}
